# Basics
*.py[cod]
*.pyc
__pycache__
*.swp

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage

# Terrain data files
*.grd

# Test fixtures
stoqs/stoqs/fixtures/stoqs_test_data.json
stoqs/stoqs/fixtures/stoqs_load_test.json

# Migrations
stoqs/stoqs/migrations/

# Virtualenv
venv-stoqs

# Let user make this symlink, which isn't tracked
stoqs/campaigns.py

# Loader output log files
stoqs/loaders/*/*.out

# Ex-situ Sample data files
stoqs/loaders/CANON/BOG_Data
stoqs/loaders/MolecularEcology/BOG_Data/*.csv
stoqs/loaders/MolecularEcology/SIMZAug2013/*.csv

# Backup files from 2to3
*.bak

# Docker work area
docker/tmp/

# Log files from data loading
stoqs/stoqs/media/loadlogs/

# Private docker files that never go into version control
docker/.env
docker/*.key
docker/*.crt
docker/*.csr
docker/*.rar

# Jupyter Notebook checkpoints
stoqs/contrib/notebooks/.ipynb_checkpoints/
