Django==1.3
GDAL==1.9.0
Genshi==0.6
Jinja2==2.6
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pydap==3.1.RC1
Pygments==1.6
Sphinx==1.1.3
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
beautifulsoup4==4.1.3
celery==2.5.3
coards==1.0
django-celery==2.5.5
django-extensions==1.0.3
django-picklefield==0.2.1
docutils==0.10
ga-ows==0.2
h5py==2.1.1
httplib2==0.7.4
importlib==1.0.2
ipython==0.13.1
kombu==2.1.8
lxml==3.1beta1
matplotlib==1.3.x
numpy==1.6.2
ordereddict==1.1
psycopg2==2.4.1
pupynere==1.0.15
pygraphviz==1.1
python-dateutil==1.5
pyzmq==2.2.0.1
seawater==2.0.1
sqlparse==0.1.5
tornado==2.4.1
simplejson==3.3.0
