<html>

<head>
<title>Measurement</title>
</head>

<body>
<h1>Measurement</h1>
<table border="1">
<tr><th>Parameter Name</th><th>Platform</th><th>Epoch Seconds</th><th>Longitude</th><th>Latitude</th><th align="right">Depth</th><th align="right">Data Value</th><th>ISO-8601</th></tr>
{% for p in mList %}
<tr><td>{{ p.0 }}</td><td>{{ p.1 }}</td><td>{{ p.2 }}</td><td>{{ p.3 }}</td><td align="right">{{ p.4 }}</td><td>{{ p.5 }}</td><td>{{ p.6 }}</td><td>{{ p.7 }}</td></tr>
{% endfor %}
</table>
</body>

</html>
