<html>

<head>
<title>Processing and query performance for {{ format }} request</title>
</head>

<body>
<h1>Processing and query performance for {{ format }} request</h1>
<h3>Server-side Python processing: {{ pSum }} seconds</h3>
{% for p, v in pDict.items %}
{{ p }} = {{ v }} seconds
<br>
{% endfor %}
<br>
<h3>Database query: {{ tSum }} seconds</h3>
<table border="1">
<tr><th>Time</th><th>SQL</th></tr>
{% for q in qList %}
<tr>
<td>{{ q.time }}</td><td>{% autoescape off %} {{ q.sql }} {% endautoescape %}</td>
</tr>
{% endfor %}
</table>
</body>

</html>
