{% extends "stoqs_base.html" %}

{% block selectors %}
<!--
	#selectable .ui-selecting { background: #FECA40; }
	#selectable .ui-selected { background: #F39814; color: white; }
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#selectable li { margin: 3px; padding: 0.2em; font-size: 1.0em; height: 14px; }
-->
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table id="activity-table" class="table table-condensed table-bordered">
                  <tbody>
                  </tbody>
                </table>
            </div>
        </div>

{% endblock %}

{% block javascript %}

    /*
     * Perform the AJAX call to get a list of activities, and select them
     */
    var stoqsQuery='{{site_uri}}{% url show-activity dbAlias=request.META.dbAlias format='.json' %}';
    function updateSummaryData() {
        console.log(stoqsQuery);
        //var qstring=($.param($.map(params, function(v, k) { return ($.type(v) === "array") ? $.map(v, function(v) { return {name: k, value: v} }) : {name: k, value: v} })));
        var qstring = ''
        request=$.ajax({
            type : 'GET',
            url : stoqsQuery + '?' + qstring,
            success: function (data) {
                console.log(data)

                $.each(data, function (index, value) {
                                                    $('#activity-table > tbody:last').append('<tr id="' + value.pk +'">' +
                                                              '<td class="activity"><button class="btn btn-mini stoqs-toggle">'+ value.fields.name +'</button></td>' +
                                                              '</tr>');
                });
            },
            dataType: "json"
   });

   } 
      function addLayer(layer_obj) {
    	  var $component=$('<li class="ui-widget-content" id="ol-' + layer_obj.id + '">' + layer_obj.name + '</li>')
    	  //Trying to make checkbox
    	  //var $component=$('<li class="ui-widget-content"><input type="checkbox" value="ol-' + layer_obj.id + '">' + layer_obj.name + '</li>')
    	  $component.data('ol',layer_obj);
    	  $("#selectable").append($component);
      }
      OpenLayers.IMAGE_RELOAD_ATTEMPTS = 4;
      OpenLayers.Util.onImageLoadError = function() {this.style.display="none"; };
      var map = null; 
      function init() {
            var options = {
                 projection: new OpenLayers.Projection("EPSG:900913"),
                 displayProjection: new OpenLayers.Projection("EPSG:4326"),
                 units: "m",
                 maxResolution: 156543.0339,
                 maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
                                                   20037508.34, 20037508.34)
            };
            map = new OpenLayers.Map('map',options);
            var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {'type': google.maps.MapTypeId.TERRAIN,
                 'sphericalMercator': true}
            );
            var gmap = new OpenLayers.Layer.Google(
                "Google Streets", // the default
                {'sphericalMercator': true,
                 numZoomLevels: 20}
            );
            var ghyb = new OpenLayers.Layer.Google(
                "Google Hybrid",
                {'type': google.maps.MapTypeId.HYBRID, 
                 numZoomLevels: 20,
                 'sphericalMercator': true}
            );
            var gsat = new OpenLayers.Layer.Google(
                "Google Satellite",
                {'type': google.maps.MapTypeId.SATELLITE, 
                 numZoomLevels: 15,
                 'sphericalMercator': true}
            );
            map.addLayers([gsat,gphy,ghyb]);

            {% for item in list %}
            itemid_{{ item.id }} = new OpenLayers.Layer.WMS(
                    "{{ item.name }}",
                    "http://{{ mapserver_host }}/cgi-bin/mapserv",
                    { layers: '{{ item.name }}',
                      map: '{{ mappath }}',
                      transparent: 'True' },
                    { units: 'degrees',
                     // displayInLayerSwitcher: false,
                      projection: "EPSG:900913",
                      reproject: false,
                      visibility: false,
                      displayOutsideMaxExtent: true });
            map.addLayers([itemid_{{ item.id }}]); 

            addLayer(itemid_{{item.id}});
            {% endfor %}

            map.setCenter(new OpenLayers.LonLat(-13594478.3, 4411945.3), 9);
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            map.addControl(new OpenLayers.Control.MousePosition());
            map.addControl(new OpenLayers.Control.PanZoomBar());
            {% for item in list %}
            map.events.register('click', map, function (e) {
                    OpenLayers.Util.getElement('activityFeatureInfo').innerHTML = "Loading... please wait...";
                    var url =  itemid_{{ item.id }}.getFullRequestString({
                                    REQUEST: "GetFeatureInfo",
                                    EXCEPTIONS: "application/vnd.ogc.se_xml",
                                    BBOX: itemid_{{ item.id }}.map.getExtent().toBBOX(),
                                    X: e.xy.x,
                                    Y: e.xy.y,
                                    FEATURE_COUNT: 1,
                                    INFO_FORMAT: 'text/html',
                                    QUERY_LAYERS: itemid_{{ item.id }}.params.LAYERS,
                                    WIDTH: itemid_{{ item.id }}.map.size.w,
                                    HEIGHT: itemid_{{ item.id }}.map.size.h});
                    OpenLayers.loadURL(url, '', this, setHTML);
                    OpenLayers.Event.stop(e);
            });
            {% endfor %}
            $( "#selectable" ).selectable({
            	selected: function() {
            		$( ".ui-selected", this ).each(function() {
            			$(this).data('ol').setVisibility(true);
    				});
            	},
				unselected: function() {
					$( ":not(.ui-selected)", this ).each(function() {
            			$(this).data('ol').setVisibility(false);
    				});
				}
            });
      }
      function setHTML(response) {
            OpenLayers.Util.getElement('activityFeatureInfo').innerHTML = response.responseText;
      }

    updateSummaryData(true);

{% endblock %}

