<html>

<head>
<title>Campaign List</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stoqs.css">
</head>

<body>
<h1>Campaign List</h1>

<table border="1">
<tr><th>Database</th><th>Campaign</th><th>Description</th><th>Start</th><th>End</th></tr>
{% for c in cList %}
<tr>
<td>{{ c.dbAlias }}</td><td><a href="/{{ c.dbAlias }}/activities">{{ c.name }}</a></td><td>{{ c.description }}</td>
<td>{{ c.startdate }} GMT</td><td>{{ c.enddate }} GMT</td>
</tr>
{% endfor %}
</table>
</body>

</html>
