Django==1.7.4
GDAL==1.9.1
Genshi
Jinja2
Paste
PasteDeploy
PasteScript
Pydap
Pygments
Sphinx
amqplib
anyjson
argparse
beautifulsoup4
celery
coards
distribute
django-celery
django-extensions
django-picklefield
docutils
cython
shapely
h5py
httplib2
importlib
ipython
kombu
lxml
nose
numpy
ordereddict
psycopg2
pupynere
pygraphviz
pyparsing
python-dateutil
pyzmq
seawater
simplejson
six
sqlparse
tornado
python-memcached
